.sidePanel {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 320px;
  background-color: #ffffff;
  box-sizing: border-box;
  border-left: 1px solid #eaecf0;
}

.sidePanelHeader {
  display: flex;
  align-items: center;
  height: 70px;
  border-bottom: 1px solid #eaecf0;
  padding: 16px;
}

.sidePanelContent {
  padding: 16px;
}
